mongodb_recipe_db/*
node_modules
*.py[co]
__pycache__
*.egg-info
*~
*.bak
.ipynb_checkpoints
.DS_Store
.pytest_cache
src

*.swp
*.map
config.rst
*.iml
/.project
/.pydevproject
.ipynb_checkpoints/

package-lock.json
geckodriver.log
*.iml